{
    "logger": {
        "Business.Intake": {
            "logLevel": "INFO",
            "filters": [
                "ABL_SUBSTITUTE_FORMAT",
                "ERROR_FORMAT",
                {
                    "name": "TOKEN_FORMAT",
                    "format": "[${t.now}] ${msg.logger} | ${msg.level} - ${msg}"
                },
                "REPLACE_TOKENS_FORMAT",
                {
                    "name": "NAMED_FILE_WRITER",
                    "fileName": "${session.temp-dir}/intake/intake.log",
                    "appendTo": true
                }
            ]
        },
        "OpenEdge.Web.DataObject.DataObjectHandler": {
            "logLevel": "INFO",
            "filters": [
                "ABL_SUBSTITUTE_FORMAT",
                "ERROR_FORMAT",
                "REPLACE_TOKENS_FORMAT",
                {
                    "name": "NAMED_FILE_WRITER",
                    "fileName": "${session.temp-dir}/DOH-A${req.agent}-S${req.session}.log",
                    "appendTo": true
                }
            ]
        },
        "OpenEdge.Net.HTTP": {
            "logLevel": "INFO",
            "filters": [
                "ABL_SUBSTITUTE_FORMAT",
                "ERROR_FORMAT",
                {
                    "name": "TOKEN_FORMAT",
                    "format": "[${t.now}] ${msg.level} - ${msg}"
                },
                "REPLACE_TOKENS_FORMAT",
                {
                    "name": "NAMED_FILE_WRITER",
                    "fileName": "${session.temp-dir}/OEHttpClient.log",
                    "appendTo": true
                }
            ]
        }
    }
}