{
    "logger": {
        "OpenEdge.ApplicationServer.Util.OEManagerConnection": {
            "logLevel": "TRACE",
            "filters": [
                "FULL_TEXT_FORMAT",
                {
                    "name": "NAMED_FILE_WRITER",
                    "fileName": "${session.temp-dir}/OEMgrConn.log",
                    "appendTo": true
                }
            ]
        }
    }
}