{
    "logger": {
        "OpenEdge.Web.DataObject.DataObjectHandler": {
            "logLevel": "INFO",
            "filters": [
                "ABL_SUBSTITUTE_FORMAT",
                "ERROR_FORMAT",
                "REPLACE_TOKENS_FORMAT",
                {
                    "name": "NAMED_FILE_WRITER",
                    "fileName": "${session.temp-dir}/DOH-A${req.agent}-S${req.session}.log",
                    "appendTo": true
                }
            ]
        },
        "DOHEventHandler": {
            "logLevel": "INFO",
            "filters": [
                "ABL_SUBSTITUTE_FORMAT",
                "ERROR_FORMAT",
                {
                    "name": "TOKEN_FORMAT",
                    "format": "[${t.now}] ${req.id} | ${msg.logger}:${msg.level} - ${msg}"
                },
                "REPLACE_TOKENS_FORMAT",
                {
                    "name": "NAMED_FILE_WRITER",
                    "fileName": "${session.temp-dir}/DOHEvents-A${req.agent}-S${req.session}.log",
                    "appendTo": true
                }
            ]
        },
        "PushLiveDiag": {
            "logLevel": "INFO",
            "filters": [
                "ABL_SUBSTITUTE_FORMAT",
                "ERROR_FORMAT",
                {
                    "name": "TOKEN_FORMAT",
                    "format": "[${t.now}] ${msg.level} - ${msg}"
                },
                "REPLACE_TOKENS_FORMAT",
                {
                    "name": "NAMED_FILE_WRITER",
                    "fileName": "${session.temp-dir}/PushLiveDiag.log",
                    "appendTo": true
                }
            ]
        },
        "PushHealth": {
            "logLevel": "INFO",
            "filters": [
                "ABL_SUBSTITUTE_FORMAT",
                "ERROR_FORMAT",
                {
                    "name": "TOKEN_FORMAT",
                    "format": "[${t.now}] ${msg.level} - ${msg}"
                },
                "REPLACE_TOKENS_FORMAT",
                {
                    "name": "NAMED_FILE_WRITER",
                    "fileName": "${session.temp-dir}/PushHealth.log",
                    "appendTo": true
                }
            ]
        },
        "PushProfiler": {
            "logLevel": "INFO",
            "filters": [
                "ABL_SUBSTITUTE_FORMAT",
                "ERROR_FORMAT",
                {
                    "name": "TOKEN_FORMAT",
                    "format": "[${t.now}] ${msg.level} - ${msg}"
                },
                "REPLACE_TOKENS_FORMAT",
                {
                    "name": "NAMED_FILE_WRITER",
                    "fileName": "${session.temp-dir}/PushProfiler.log",
                    "appendTo": true
                }
            ]
        },
        "OpenEdge.ApplicationServer.Service": {
            "logLevel": "INFO",
            "filters": [
                "ABL_SUBSTITUTE_FORMAT",
                "ERROR_FORMAT",
                {
                    "name": "TOKEN_FORMAT",
                    "format": "[${t.now}] ${msg.level} - ${msg}"
                },
                "REPLACE_TOKENS_FORMAT",
                {
                    "name": "NAMED_FILE_WRITER",
                    "fileName": "${session.temp-dir}/AppServerPulse.log",
                    "appendTo": true
                }
            ]
        },
        "OpenEdge.Net.HTTP": {
            "logLevel": "INFO",
            "filters": [
                "ABL_SUBSTITUTE_FORMAT",
                "ERROR_FORMAT",
                {
                    "name": "TOKEN_FORMAT",
                    "format": "[${t.now}] ${msg.level} - ${msg}"
                },
                "REPLACE_TOKENS_FORMAT",
                {
                    "name": "NAMED_FILE_WRITER",
                    "fileName": "${session.temp-dir}/OEHttpClient.log",
                    "appendTo": true
                }
            ]
        }
    }
}